:root {
  --magnolia: #f0eefdff;
  --periwinkle: #bbb2f5ff;
  --majorelle-blue: #6c56e8ff;
  --amaranth-pink: #f696c5ff;
}

body {
  background-color: var(--periwinkle);
  padding: 8px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
}

header img {
  width: 100px;
  height: 100px;
}

header h1 {
  font-family: "Rubik", sans-serif;
  font-size: 54px;
  text-align: center;
}

.bandContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.band {
  padding: 16px;
  border: 1px solid #000;
  border-radius: 9px;
  width: 200px;
  height: 320px;
  background-color: var(--magnolia);
}

.band:hover {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.band img {
  width: 100%;
  border-radius: 9px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.band h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.price {
  font-family: "Rubik", sans-serif;
  background-color: var(--majorelle-blue);
  color: white;
  padding: 8px;
  border-radius: 9px;
  width: 70vw;
  text-align: center;
}

.selected {
  background-color: var(--majorelle-blue);
  color: white;
}

