.lbl{
    width: 105px;
    height: 30px;
    background: #979797;
    cursor: pointer;
    position: relative;
    transition: .2s;
    border-radius:10px;
    border:3px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    justify-content: center;

    &::after {  
        content: '';
        display: block;
        width: 44%;
        height: 26px;
        background: green;
        border-radius: 7px;
        position: absolute;
        top: 2px;
        left: 2px;
        transition: .2s;
    }
}  


#switch:checked + .lbl::after {       
  left: 47px;
  width: 50%;
}

#switch {
display: none;
}

.cifrar, .descifrar {
    color: white;
    position: absolute;
    width: auto;
    height: auto;
    font-size: 11px;
    font-family: Verdana, sans-serif;
    z-index: 2;
}

.cifrar {
    left: 10px;
    text-align: left;
}

.descifrar {
    right: 10px;
    text-align: right;
}

.content {
    width: 50%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background: #979797;
    color: white;
    padding: 20px;
    height: 90vh;
    justify-content: center;
    border-radius: 24px;
}

h1 {
    width: 100%;
    text-align: center;
}

form {
    gap: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#word, #number {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    height: 24px;
    border: 0;
}

.predet {
    display: flex;
    flex-direction: column;
}

.btn {
    width: auto;
    padding: 5px;
    background-color: #979797;
    border-radius: 50px;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: ease-in-out .2s;
    margin: 10px;

    &:hover {
        padding: 10px;
    }
}

.traductor {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    height: 96px;
    width: 70%;
    border-radius: 16px;
    padding: 24px;
    color: #979797;
}

.predet {
    margin-bottom: 20px;
    background-color: #fff;
    height: 96px;
    width: 70%;
    border-radius: 16px;
    padding: 24px;
    color: #979797;
}