body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c7e4ee;
}

*{
    color: #477888;
}

.content {
    width: 50%;
    height: 50%;
    border-radius: 16px;
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

h1 {
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 8px;
}

input, select {
    background-color: #c7e4ee;
    border: 0;
    border-radius: 4px;
    height: 24px;
}

#calcular {
    cursor: pointer;
    height: 34px;
    background-color: transparent;
    border: 4px solid #c7e4ee;
    margin: 0;
}

.total {
    display: none;
    margin-top: 16px;
    padding: 8px;
    background-color: #c7e4ee;
    border-radius: 8px;
}